/* Impedir seleção de texto */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    width: 300px;
    border-radius: 8px;
    pointer-events: none;


}

.card {
    display: grid;

}